In [16]:
import os
import pandas as pd

In [13]:
os.listdir()

['.DS_Store',
 'Untitled.ipynb',
 'library.csv',
 'untitled.txt',
 '.ipynb_checkpoints']

In [45]:
myVars = vars()

In [46]:
df_list = ['df_'+ str(i) for i in range(len(os.listdir()))]
for i in os.listdir():
    for y in df_list:
        if i[-4:]== '.csv':
            myVars[y] = pd.read_csv(i)  
        break

In [43]:
df_list

['df_0', 'df_1', 'df_2', 'df_3', 'df_4']

In [49]:
df_0

,Another One Bites The Dust,Queen,Greatest Hits,55,100,217
0,Asche Zu Asche,Rammstein,Herzeleid,79.0,100.0,231
1,Beauty School Dropout,Various,Grease,48.0,100.0,239
2,Black Dog,Led Zeppelin,IV,109.0,100.0,296
3,Bring The Boys Back Home,Pink Floyd,The Wall [Disc 2],33.0,100.0,87
4,Circles,Bryan Lee,Blues Is,54.0,60.0,355
...,...,...,...,...,...,...
290,Goodbye Daughters of the Revolution,The Black Crowes,Warpaint,NaN,NaN,304
291,Walk Believer Walk,The Black Crowes,Warpaint,NaN,NaN,280
292,Choice Hotels International,Undercover Boss,"Undercover Boss, Season 2",1.0,NaN,2614
293,Microchip,Jason Farnham,YouTube Audio Library,NaN,NaN,114
294,Anant Agarwal,IEEE Computer Society,Computing Conversations,NaN,NaN,494

3